@import './components_1/waves';
@import './componentes/toast';

$color_1: white;
$color_2: #95C857;
$color_3: black;
$color_4: #FFF;
$font_family_1: 'Roboto',
'Open Sans';
$font_family_2: 'Open Sans',
'Arial',
sans-serif;
$background_color_1: #293037;
$background_color_2: #fff;

// Buttons
// Shared styles
$button-border: none !default;
$button-background-focus: lighten($color_2, 4%) !default;
$button-font-size: 14px !default;
$button-icon-font-size: 1.3rem !default;
$button-height: 36px !default;
$button-padding: 0 16px !default;
$button-radius: 2px !default;

// Disabled styles
$button-disabled-background: #DFDFDF !default;
$button-disabled-color: #9F9F9F !default;


// Flat buttons
$button-flat-color: #343434 !default;
$button-flat-disabled-color: lighten(#999, 10%) !default;


.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  .container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
  }
  
  


@font-face {
    font-family: 'Roboto';
    src: url('../font/roboto/Roboto-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../font/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/roboto/Roboto-Regular.woff') format('woff'), /* Modern Browsers */
    url('../font/roboto/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/roboto/Roboto-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

* { box-sizing:border-box; }
/* use the font */

* {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
body, html {
    width: 100vw;
}

.head-container {
    height: 70px;
    background-image: url(../img/bg_header.png);
}

.logo {
    padding-left: 10px;
    font-size: 1.2em;
    color: $color_1;
    line-height: 70px;
    font-family: $font_family_1;
}

.title {
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    color: $color_1;
    line-height: 70px;
    font-family: $font_family_1;
}

.status {
    text-align: right;
    font-size: 1.2em;
    color: $color_1;
    line-height: 70px;
    font-family: $font_family_1;
    i {
        color: $color_3;
    }
}

.user-link {
    padding-left: 10px;
    color: $color_2;
}

body {
    background: url(../img/bg_content.png) 0 0 repeat-x transparent;
    height: 100vh;
}

.btn-flat {
    border: $button-border;
    border-radius: $button-radius;
    display: inline-block;
    height: $button-height;
    line-height: $button-height;
    padding: $button-padding;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent; // Gets rid of tap active state
    box-shadow: none;
    background-color: transparent;
    color: $button-flat-color;
    cursor: pointer;
    transition: background-color .2s;
    &:focus,
    &:hover {
      box-shadow: none;
    }
    &:focus {
      background-color: rgba(0, 0, 0, .1);
    }
    &.disabled {
      background-color: transparent !important;
      color: $button-flat-disabled-color !important;
      cursor: default;
    }
  }
  

.btn2-unify {
    background: linear-gradient(0deg, rgb(93, 164, 7) 0%, rgb(152, 198, 61) 100%);
    color: $color_3 !important;
    margin-left: 5px !important;
    height: 25px;
    font-size: .8em !important;
    line-height: 25px;
    &:hover {
        text-decoration: underline;
        color: $color_4 !important;
    }
}

.nav-unify {
    text-align: center;
    top: 70px;
    font-family: $font_family_2;
    font-weight: 400;
    position: absolute;
    background: url(../img/bg_navi.png) 0 0 repeat-x transparent;
    width: 100%;
    color: $color_2;
    height: 40px;
}

.footer-unify {
    height: 70px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    background-color: $background_color_1;
}

.unify-text {
    font-size: 13px;
    color: $color_4;
}

.main-container {
    height: auto;
    padding-top: 20px;
    width: 320px;
    background-color: $background_color_2;
    text-align: center;
}

.input-field {
    margin: 0;
}

.logon-container {
    text-align: center;
}



.preloader-wrapper {
  display: inline-block;
  position: fixed;
  width: 48px;
  height: 48px;
  top: 50%;
  left: 50%; 
  &.active {
    /* duration: 360 * ARCTIME / (ARCSTARTROT + (360-ARCSIZE)) */
    -webkit-animation: container-rotate 1568ms linear infinite;
    animation: container-rotate 1568ms linear infinite;
  }
}


@-webkit-keyframes container-rotate {
    to { -webkit-transform: rotate(360deg) }
  }
  
  @keyframes container-rotate {
    to { transform: rotate(360deg) }
  }
  
  .spinner-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-color: $color_2;
  }
  
  .spinner-green {
    border-color: $color_2;
  }
  
  .active .spinner-layer.spinner-green {
    /* durations: 4 * ARCTIME */
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both, green-fade-in-out 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  }
  
 
  .active .spinner-layer.spinner-green,
  {
    /* durations: 4 * ARCTIME */
    opacity: 1;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  }
  
  @-webkit-keyframes fill-unfill-rotate {
    12.5% { -webkit-transform: rotate(135deg);  } /* 0.5 * ARCSIZE */
    25%   { -webkit-transform: rotate(270deg);  } /* 1   * ARCSIZE */
    37.5% { -webkit-transform: rotate(405deg);  } /* 1.5 * ARCSIZE */
    50%   { -webkit-transform: rotate(540deg);  } /* 2   * ARCSIZE */
    62.5% { -webkit-transform: rotate(675deg);  } /* 2.5 * ARCSIZE */
    75%   { -webkit-transform: rotate(810deg);  } /* 3   * ARCSIZE */
    87.5% { -webkit-transform: rotate(945deg);  } /* 3.5 * ARCSIZE */
    to    { -webkit-transform: rotate(1080deg); } /* 4   * ARCSIZE */
  }
  
  @keyframes fill-unfill-rotate {
    12.5% { transform: rotate(135deg);  } /* 0.5 * ARCSIZE */
    25%   { transform: rotate(270deg);  } /* 1   * ARCSIZE */
    37.5% { transform: rotate(405deg);  } /* 1.5 * ARCSIZE */
    50%   { transform: rotate(540deg);  } /* 2   * ARCSIZE */
    62.5% { transform: rotate(675deg);  } /* 2.5 * ARCSIZE */
    75%   { transform: rotate(810deg);  } /* 3   * ARCSIZE */
    87.5% { transform: rotate(945deg);  } /* 3.5 * ARCSIZE */
    to    { transform: rotate(1080deg); } /* 4   * ARCSIZE */
  }
  
  @-webkit-keyframes green-fade-in-out {
    from { opacity: 0; }
    65% { opacity: 0; }
    75% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @keyframes green-fade-in-out {
    from { opacity: 0; }
    65% { opacity: 0; }
    75% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  /**
   * Patch the gap that appear between the two adjacent div.circle-clipper while the
   * spinner is rotating (appears on Chrome 38, Safari 7.1, and IE 11).
   */
  .gap-patch {
    position: absolute;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
  }
  
  .gap-patch .circle {
    width: 1000%;
    left: -450%;
  }
  
  .circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
  
    .circle {
      width: 200%;
      height: 100%;
      border-width: 3px; /* STROKEWIDTH */
      border-style: solid;
      border-color: inherit;
      border-bottom-color: transparent !important;
      border-radius: 50%;
      -webkit-animation: none;
      animation: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
    }
  
    &.left .circle {
      left: 0;
      border-right-color: transparent !important;
      -webkit-transform: rotate(129deg);
      transform: rotate(129deg);
    }
    &.right .circle {
      left: -100%;
      border-left-color: transparent !important;
      -webkit-transform: rotate(-129deg);
      transform: rotate(-129deg);
    }
  }
  
  
  
  .active .circle-clipper.left .circle {
    /* duration: ARCTIME */
    -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  }
  
  .active .circle-clipper.right .circle {
    /* duration: ARCTIME */
    -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
  }
  
  @-webkit-keyframes left-spin {
    from { -webkit-transform: rotate(130deg); }
    50% { -webkit-transform: rotate(-5deg); }
    to { -webkit-transform: rotate(130deg); }
  }
  
  @keyframes left-spin {
    from { transform: rotate(130deg); }
    50% { transform: rotate(-5deg); }
    to { transform: rotate(130deg); }
  }
  
  @-webkit-keyframes right-spin {
    from { -webkit-transform: rotate(-130deg); }
    50% { -webkit-transform: rotate(5deg); }
    to { -webkit-transform: rotate(-130deg); }
  }
  
  @keyframes right-spin {
    from { transform: rotate(-130deg); }
    50% { transform: rotate(5deg); }
    to { transform: rotate(-130deg); }
  }
  
  #spinnerContainer.cooldown {
    /* duration: SHRINK_TIME */
    -webkit-animation: container-rotate 1568ms linear infinite, fade-out 400ms cubic-bezier(0.4, 0.0, 0.2, 1);
    animation: container-rotate 1568ms linear infinite, fade-out 400ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }
  
  @-webkit-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  @keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  

/* end spinner */

.field-icon {
    top: 35px;
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }  

  .bar-preloader-container{
	position: relative;
	height: 5px;
	width: 100%;
	background-color: #bdbdbd;
}
			
.bar-preloader{
	content: "";
	display: inline;
	position: absolute;
	height: 100%;
	width: 0;
	right: 0;
}

.bar:nth-child(1) {
  background-color: #006495;
  animation: linear_loader 3s linear 1s infinite;
}
#password-field + .input-field label .active{
  display: block;
}

.logon-icon {
    margin:0 auto;
    text-align: center;
    padding-bottom: 25px;
}
.logon-icon i {
    font-size: 1.9em;
    padding: 5px;
}

.center-left {
    text-align: left;
}

.center-right {
    text-align:right;
}

@keyframes linear_loader {
    0% {
    	right: 100%; 
    	width: 10%;
    }
    30% {
    	right: 0%; 
    	width: 40%;
    }
    50% {
    	right: 0%; 
    	width: 0%;
    }
    80% {
    	right: 0%; 
    	width: 0%;
    }
    100% {
    	right: 0%; 
    	width: 0%;
    }
}		

/* ************************** */

hgroup { 
	text-align:center;
	margin-top: 4em;
}

h1, h3 { font-weight: 300; }

h1 { color: #636363; }

h3 { color: #4a89dc; }

form {
	width: 330px;
	margin: 4em auto;
	padding: 2.8em 2em 1em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

#login-button {
    margin-right: 15px;
}

input {
    font-size: .9em;
    margin-left: auto;
    margin-right: auto;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 90%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


/* Label */

label {
	color: #999; 
	font-size: .9em;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 15px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label {
	top: -20px;
  transform: scale(.75); left: 8px;
	/* font-size: 14px; */
	color: #4a89dc;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	/*bottom: 1px; */
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
	from { background: #4a89dc; }
	to 	{ width: 0; background: transparent; }
}


/* Ripples container */

.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
  }
  
  
  /* Ripples circle */
  
  .ripplesCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
  }
  
  .ripples.is-active .ripplesCircle {
    animation: ripples .4s ease-in;
  }
  
  
  /* Ripples animation */
  
  @keyframes ripples {
    0% { opacity: 0; }
  
    25% { opacity: 1; }
  
    100% {
      width: 200%;
      padding-bottom: 200%;
      opacity: 0;
    }
  }

  