@import "./componentes/reset";
@import "./componentes/font-roboto";
@import "./componentes/vars";
@import "./componentes/spinner";
@import "./componentes/waves";
@import "./componentes/toast";
@import "./componentes/button";
@import "./componentes/logon";
@import "./componentes/modalDialog";
.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

body,
html {
    width: 100vw;
    background: url(../img/bg_content.png) 0 0 repeat-x transparent;
    height: 100vh;
    font-family: var(--main-font);
}

.head-container {
    height: 70px;
    background-image: url(../img/bg_header.png);
}

.logo {
    padding-left: 10px;
    font-size: 1.2em;
    color: $color_1;
    line-height: 70px;
    font-family: var(--main-font);
}

.title {
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    color: $color_1;
    line-height: 70px;
    font-family: var(--main-font);
}

.status {
    text-align: right;
    font-size: 1.2em;
    color: $color_1;
    line-height: 70px;
    font-family: var(--main-font);
    i {
        color: $color_3;
    }
}

.user-link {
    padding-left: 10px;
    color: $color_2;
}

.nav-unify {
    text-align: center;
    top: 70px;
    font-family: var(--alternate-font);
    font-weight: 400;
    position: absolute;
    background: url(../img/bg_navi.png) 0 0 repeat-x transparent;
    width: 100%;
    color: $color_2;
    height: 40px;
}

.footer-unify {
    height: 70px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    background-color: $background_color_1;
}

.unify-text {
    font-size: 13px;
    color: $color_4;
}

.main-container {
    height: auto;
    padding-top: 20px;
    width: 320px;
    background-color: $background_color_2;
    text-align: center;
}

.center-left {
    text-align: left;
}

.center-right {
    text-align: right;
}

hgroup {
    text-align: center;
    margin-top: 4em;
}

h1,
h3 {
    font-weight: 300;
}

h1 {
    color: #636363;
}

h3 {
    color: #4a89dc;
}

#sharedFiles-container {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    overflow-y: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sharedFilesDownload {
    width: auto;
    max-width: 60vw;
    text-align: center;
}

.form-title {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.sharedFile-item {
    display: flex;
    width: 100%;
    padding-top: 10px;
    justify-content: space-between;
    i {
        margin-left: 5px;
        margin-right: 5px;
        &:hover {
            color: var(--bg-alternate-color);
        }
    }
    a {
        color: $color_2;
        &:visited {
            color: $color_2;
        }
        text-decoration: none;
    }
}

.colItem {
    &:hover {
        color: var(--bg-alternate-color);
    }
}

.firstColItem {
    text-align: left;
    flex-basis: 80%;
}

.expirated {
    color: red;
    &:hover {
        cursor: not-allowed;
    }
}

#expiratedLink {
    position: relative;
    &:hover:after {
        position: absolute;
        content: attr(data-title);
        left: -216px;
        top: -20px;
        width: 200px;
        height: 1.2rem;
        background-color: var(--bg-alternate-color);
        color: var(--main-color);
        border-radius: 5px;
        padding: 8px;
        box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
        z-index: 999;
    }
}

@media only screen and (max-width: 760px) {
    .footer-unify {
        position: relative;
    }
}