doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Document
    link(type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(type="text/css" rel="stylesheet" href="css/dashboard.css" media="screen,projection")
  body
    .row.head-container
      .container
        .col.m3.logo
          img(src="img/logo_brand.png" alt="Unify Home")
        .col.m6.center.title
          | File Manager
        .col.m3.status.right
          i.material-icons person
          a.user-link(href="#") BBVA
    .row.nav-unify
      a#home.waves-effect.waves-teal.btn-flat.btn-unify(href="#") Home
      a#home.waves-effect.waves-teal.btn-flat.btn-unify(href="#") New Folder
      a#home.waves-effect.waves-teal.btn-flat.btn-unify(href="#") Delete
      a#home.waves-effect.waves-teal.btn-flat.btn-unify(href="#") Download
      a#home.waves-effect.waves-teal.btn-flat.btn-unify(href="#") Upload
    .row
    .container
      .row.line-path
        ul.path.left
          li
            label#currentpath Path:
          li
            a.breadcrumb(href="#!") Root
          li
            | \
          li
            a.breadcrumb(href="#!") Firts
          li
            | \
          li
            a.breadcrumb(href="#!") Seconds
          li
            | \
        ul.path.right
          li
            a#refresh(href="#")
              i.material-icons autorenew
      .row.main-container
        table.striped.highlight.responsive-table
          thead
            tr
              th
                input#selectAllFiles.filled-in(type="checkbox")
                label.checkbox.left(for="selectAllFiles")
              th
                | Name
              th
                | Size
              th
                | Date
          tbody
            tr
              td
                input#selectAllFiles.filled-in(type="checkbox")
                label.checkbox.left(for="selectAllFiles")
              td
                | File1
              td
                | 288744KB
              td
                | 10/04/2018
            tr
              td
                input#selectAllFiles.filled-in(type="checkbox")
                label.checkbox.left(for="selectAllFiles")
              td
                | File2
              td
                | 288654KB
              td
                | 10/04/2018
            tr
              td
                input#selectAllFiles.filled-in(type="checkbox")
                label.checkbox.left(for="selectAllFiles")
              td
                | File3
              td
                | 5872744KB
              td
                | 10/04/2018
            tr
              td
                input#selectAllFiles.filled-in(type="checkbox")
                label.checkbox.left(for="selectAllFiles")
              td
                | File3
              td
                | 5872744KB
              td
                | 10/04/2018
            tr
              td
                input#selectAllFiles.filled-in(type="checkbox")
                label.checkbox.left(for="selectAllFiles")
              td
                | File3
              td
                | 5872744KB
              td
                | 10/04/2018
            tr
              td
                input#selectAllFiles.filled-in(type="checkbox")
                label.checkbox.left(for="selectAllFiles")
              td
                | File3
              td
                | 5872744KB
              td
                | 10/04/2018
            tr
              td
                input#selectAllFiles.filled-in(type="checkbox")
                label.checkbox.left(for="selectAllFiles")
              td
                | File3
              td
                | 5872744KB
              td
                | 10/04/2018
            tr
              td
                input#selectAllFiles.filled-in(type="checkbox")
                label.checkbox.left(for="selectAllFiles")
              td
                | File3
              td
                | 5872744KB
              td
                | 10/04/2018
            tr
              td
                input#selectAllFiles.filled-in(type="checkbox")
                label.checkbox.left(for="selectAllFiles")
              td
                | File3
              td
                | 5872744KB
              td
                | 10/04/2018
            tr
              td
                input#selectAllFiles.filled-in(type="checkbox")
                label.checkbox.left(for="selectAllFiles")
              td
                | File3
              td
                | 5872744KB
              td
                | 10/04/2018
            tr
              td
                input#selectAllFiles.filled-in(type="checkbox")
                label.checkbox.left(for="selectAllFiles")
              td
                | File3
              td
                | 5872744KB
              td
                | 10/04/2018
            tr
              td
                input#selectAllFiles.filled-in(type="checkbox")
                label.checkbox.left(for="selectAllFiles")
              td
                | File3
              td
                | 5872744KB
              td
                | 10/04/2018
            tr
              td
                input#selectAllFiles.filled-in(type="checkbox")
                label.checkbox.left(for="selectAllFiles")
              td
                | File3
              td
                | 5872744KB
              td
                | 10/04/2018
    .footer-unify
      .container
        .col.m6.left
          img(src="img/logo_brand.png" alt="")
        .col.m6.right
          h5.unify-text.right © Unify Inc. 2018
    script(type="text/javascript" src="js/materialize.min.js")
    script(type="text/javascript" src="js/dashboard.js")
