
.unify {
    background-color: #293037;
}

.user-session {
   margin-right: 60px !important;
}

.unify-logo {
  margin-left: 30px !important;  
}
.btn-unify {
    background: linear-gradient(0deg, rgb(93, 164, 7) 0%, rgb(152, 198, 61) 100%);
    color: white !important;
    margin-left: 5px !important;  
}

.menu-unify {
    margin-top:10px;
}

.btn-unify:hover {
    color: #293037 !important;
}

.unify-text {
    font-size: .9em;
    color:rgb(93, 164, 7);
}
.main {
    background: -webkit-linear-gradient(top, rgb(205, 205, 205), rgb(255, 255, 255));
    height: 100vh !important;
}

.footer-unify {
    bottom: 1px;
    position: absolute;
    width: 100%;
    background-color: #293037;
}