doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    //meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Document
    //link(type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    //link(type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection")
    link(type="text/css" rel="stylesheet" href="css/fontawesome.all.min.css" media="screen,projection")
    link(type="text/css" rel="stylesheet" href="css/dashboard.css" media="screen,projection")
  body
    #waiting.preloader-wrapper.active
      .spinner-layer.spinner-blue-only
        .circle-clipper.left
          .circle
        .gap-patch
          .circle
        .circle-clipper.right
          .circle
    .wrapper
      .head-container
        .logo
          img(src="img/logo_brand.png" alt="Unify Home")
        .title
          | File Manager
        .status
          i.fa.fa-user
          a#usertrigger.dropdown-menu.user-link.btn-unify(href="#!")
        i#hamburger-button.fa.fa-bars.hamburger(style="display:none")   
        #Usersdropdown.dropdown-User-content
          ul
            li
              a#userProfile.btn-unify(href="#") User Profile
            li
              a#userSharedFiles.btn-unify(href="#") Shared Files
            li
              a#userChangePassword.btn-unify(href="#") Change Password
            li
              a#userLogout.btn-unify(href="#") Logout  
      .nav-unify
        i#settings.fas.fa-cog(title="Settings")
        #Settingdropdown.dropdown-setting-content
          ul
            li
              a#userAdd.btn-unify(href="#") Add User
            li
              a#userMod.btn-unify(href="#") Modify User  
            li
              a.separator(href="#")    
            li
              a#monitoring.btn-unify(href="#") Monitoring  
            li
              a#viewlog.btn-unify(href="#") View log   
            li
              a#viewaudit.btn-unify(href="#") View Audit                
        a#home.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") Home
        a#newFolder.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") New Folder
        a#share.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") Share
        a#delete.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") Delete
        a#move.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") Move
        a#download.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") Download
        a#upload.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") Upload
      ul#mn_menu.menu.hamburger_menu(style="display:none")
        li
          a#home.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") Home
        li  
          a#newFolder.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") New Folder
        li  
          a#share.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") Share
        li  
          a#delete.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") Delete
        li  
          a#move.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") Move
        li  
          a#download.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") Download
        li  
          a#upload.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") Upload
      .row
      .main
        .line-path
          ul#currentPath.path.left
            li
              label#currentpath Path:
            li
              a.breadcrumb-line-path(href="#!") \
          ul.path.right
            li
              a#refresh(href="#",title="Refresh")
                i.fas.fa-sync
        .main-container
          table#tbl-files.striped.highlight.responsive-table
            thead
              tr
                th
                  .md-checkbox
                    input#selectAllFiles(type="checkbox")
                    label.checkbox.left(for="selectAllFiles")
                th
                  | Name
                th
                  | Size
                th
                  | Date
            tbody
      .footer-unify
        .footer-container
          img(src="img/logo_brand.png" alt="")
          h5.unify-text.right © Unify Inc. 2019
    #modal(style="display:none").modal-dialog-alert-wrap
    #lean-overlay.modal-overlay(style="z-index: 1002; display: none; opacity: 0.5;")      
    #logoutmodal(style="display:none").modal
      #modal-header
        h5 Close User Session
        a#logoutModalClose.modal_close(href="#hola")
      .modal-content
        p Do you want to close the session?
      .modal-footer
        a#ModalUserLogout.modal-action.modal-close.waves-effect.waves-teal.btn-flat.btn2-unify(href="#!") Yes
        a#cancel.modal-action.modal-close.waves-effect.waves-teal.btn-flat.btn2-unify(href="#!") Cancel
    .container-overlay    
      #AddUserModalContent
    #snackbar
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js")  
    script(type="text/javascript" src="js/materialize.min.js")
    script(type="text/javascript" src="js/jquery-2.1.1.min.js")
    script(type="text/javascript" src="js/modules/toast.js")
    script(type="text/javascript" src="js/modules/unify.js")
    script(type="text/javascript" src="js/vendor/list.min.js")
    //script(type="text/javascript" src="js/modules/dtree.js")
    script(type="text/javascript" src="js/dashboard.js")
    //script(type="text/javascript" src="js/modules/admin.js")
