doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Document
    link(type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection")
    link(type="text/css" rel="stylesheet" href="css/fontawesome-all.min.css" media="screen,projection")
    link(type="text/css" rel="stylesheet" href="css/dashboard.css" media="screen,projection")
  body
    .wrapper
      .row.head-container
        .container
          .col.m3.logo
            img(src="img/logo_brand.png" alt="Unify Home")
          .col.m6.center.title
            | File Manager
          .col.m3.status.right
            i.material-icons person
            a#usertrigger.dropdown-menu.user-link.btn-unify(href="#!",data-activates="Usersdropdown") 
            ul#Usersdropdown.dropdown-content.dropdown-horizontal-list(style="display: none;")
              li
                a#userProfile.btn-unify(href="#") User Profile
              li
                a#userChangePassword.btn-unify(href="#") Change Password
              li
                a#userLogout.btn-unify(href="#") Logout  
      .row.nav-unify
        i#settings.material-icons.btn-flat settings
        ul#Settingdropdown.dropdown-content.dropdown-horizontal-list(style="display: none;")
          li
            a#userAdd.btn-unify(href="#") Add User
          li
            a#userMod.btn-unify(href="#") Modify User  
          li
            a#monitoring.btn-unify(href="#") Monitoring  
        a#home.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") Home
        a#newFolder.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") New Folder
        a#rename.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") Rename
        a#delete.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") Delete
        a#download.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") Download
        a#upload.waves-effect.waves-teal.btn-flat.btn-unify.main-Menu(href="#") Upload
      .row
      .container
        .row.line-path
          ul#currentPath.path.left
            li
              label#currentpath Path:
            li
              a.breadcrumb(href="#!") Root
            li
              | \
            li
              a.breadcrumb(href="#!") Firts
            li
              | \
            li
              a.breadcrumb(href="#!") Seconds
            li
              | \
          ul.path.right
            li
              a#refresh(href="#")
                i.material-icons autorenew
        .row.main-container
          table#tbl-files.striped.highlight.responsive-table
            thead
              tr
                th
                  input#selectAllFiles.filled-in(type="checkbox")
                  label.checkbox.left(for="selectAllFiles")
                th
                  | Name
                th
                  | Size
                th
                  | &nbsp;
                th
                  | Date
            tbody
    .footer-unify
      .container
        .col.m6.left
          img(src="img/logo_brand.png" alt="")
        .col.m6.right
          h5.unify-text.right © Unify Inc. 2018
    #modal(style="display:none").modal
    #lean-overlay.modal-overlay(style="z-index: 1002; display: none; opacity: 0.5;")      
    #logoutmodal(style="display:none").modal
      #modal-header
        h5 Close User Session
        a#logoutModalClose.modal_close(href="#hola")
      .modal-content
        p Do you want to close the session?
      .modal-footer
        a#ModalUserLogout.modal-action.modal-close.waves-effect.waves-teal.btn-flat.btn2-unify(href="#!") Yes
        a#cancel.modal-action.modal-close.waves-effect.waves-teal.btn-flat.btn2-unify(href="#!") Cancel
    #waiting.preloader-wrapper
      .spinner-layer.spinner-blue-only
        .circle-clipper.left
          .circle
        .gap-patch
          .circle
        .circle-clipper.right
          .circle
    #userForm.userForm.col.s12.m12.l6      
    script(type="text/javascript" src="js/materialize.min.js")          
    script(type="text/javascript" src="js/jquery-2.1.1.min.js")
    script(type="text/javascript" src="js/jquery.leanModal.min.js")
    script(type="text/javascript" src="js/dashboard.js")
