doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Logon
    link(type="text/css" rel="stylesheet" href="css/fontawesome.all.min.css" media="screen,projection")
    link(type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection")
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel="shortcut icon" href="/favicon_64.png")
  body
    .row.head-container
      .container
        .col.m3.logo
        .col.m12.center.title
          | File Manager
        .col.m3.status.right
    .row.nav-unify
    .row
    form
      .logon-icon
        i.fas.fa-user  
      .group
        input#username(type="text",autocomplete="off")
        span.highlight
        span.bar
        label User Name
      .group
        input#password(type="password",autocomplete="off")
        span.highlight
        span.bar
        label Password
      .group.center-right  
        button#login-button(type="submit").btn-flat.btn2-unify.waves-effect.waves-teal
          | Login
    .footer-unify
      .container
    #waiting.preloader-wrapper.active
        .spinner-layer.spinner-green
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle      
    script(type="text/javascript" src="js/modules/unify.js")
    script(type="text/javascript" src="js/modules/cash.js")
    script(type="text/javascript" src="js/modules/toast.js")
    script(type="text/javascript" src="js/modules/waves.js")
    script(type="text/javascript" src="js/logon.js")
