$color_1: #fff;
$font_family_1: sans-serif;
$background_color_1: #28a8e0;
$background_color_2: #1b8aba;
$border_color_1: #aaa;

.list {
	font-family: $font_family_1;
}

.user-row {
  display: flex;
  justify-content: space-between;
  flex: 1 1 1;
  border: 1px solid #ccc;
  div {
    width: 100%;
    padding:5px;
    border-right:1px solid #ccc;
    &:nth-child(2)::first-letter {
      text-transform: uppercase;
    }
  }
}

.head-list {
  display: flex;
  justify-content: space-between;
  flex: 1 1 1 1 0 1;
  border: 1px solid #ccc;
  div {
    width: 100%;
    padding:5px;
    border-right:1px solid #ccc;
  }
}

/* .dataTable-input {
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 7px 14px;
	margin-bottom: 10px;
	&:focus {
		outline: none;
		border-color: $border_color_1;
	}
} */
/* .sort {
	padding: 8px 30px;
	border-radius: 6px;
	border: none;
	display: inline-block;
	color: $color_1;
	text-decoration: none;
	background-color: $background_color_1;
	height: 30px;
	&:hover {
		text-decoration: none;
		background-color: $background_color_2;
	}
	&:focus {
		outline: none;
	}
	&:after {
		display: inline-block;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid transparent;
		content: "";
		position: relative;
		top: -10px;
		right: -5px;
	}
} */
/* .sort.asc {
	&:after {
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #fff;
		content: "";
		position: relative;
		top: 4px;
		right: -5px;
	}
}
.sort.desc {
	&:after {
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid #fff;
		content: "";
		position: relative;
		top: -4px;
		right: -5px;
	}
} */

/* DataTable */

/* #ribbon {
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
	font-weight: 400;
	padding: 15px;
	position: fixed;
	right: -269px;
	text-align: center;
	top: -125px;
	transform: rotate(45deg);
	transform-origin: 0 0 0;
	width: 500px;
	
	i {
		font-size: 21px;
		padding-right: 5px;
		vertical-align: middle;
	}
} */

/* 
.dataTable-sorter::before {
    bottom: 8px;
}
.dataTable-sorter::after {
    top: 8px;
}

.selected {
	td {
		background-color: #27ae60;
		color: #fff;
	}
} */
.dataTable-container {
  max-height: 720px;
  overflow-y: scroll; 
}

.dataTable-bottom>div:last-child, .dataTable-top>div:last-child {
  text-align: center;
  //float: right;
}
.dataTable-bottom::after, .dataTable-top::after {
  clear: both;
  content: " ";
  display: table;
}
.dataTable-bottom, .dataTable-top {
  padding: 8px 10px;
}
.dataTable-wrapper {
  position: relative;
}
.head-Title {
  margin: 18px auto;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
.tableList {
  margin: 20px auto;
  border-collapse: collapse;
  max-width: 790px;
  th {
    background-color: #ccc;
    padding: 3px 8px;
    border-bottom: 1px solid rgb(151, 150, 150);
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 200px;
    font-weight: bold;
    font-size: .8em;
    &:last-child {
      padding: 1px;
      width: 10%;
    }
  }
}

#bodyList {
  td {
    padding: 5px 10px;
    //border: 1px solid #ccc;
    width: 200px;
    font-size: .8em;
    &:last-child {
      border-right: 1px solid rgb(151, 150, 150);
      max-width: 15px !important;
      padding: 1px;
    }
    &:first-child {
      border-left: 1px solid rgb(151, 150, 150);
    }
  }
  tr:nth-child(even) {
    background-color: rgb(248, 248, 248);
  }
  tr:hover {
    cursor: pointer;
    background-color: #cfe9c8;
  }
  tr:last-child {
    border-bottom: 1px solid rgb(151, 150, 150);
  }
}


.del-user-icon,
.edit-user-icon {
  margin-left: 3px;
  margin-right: 3px;
  color: var(--main-color);
}