//$toast-bground: #3a4349;
$toast-bground: #3a4349;
//$toast-color: #fafafa;
$toast-color: #3a4349;

#toast-container {
  position: fixed;
  top: 50px;
  right: 0;
  width: auto;
  min-width: 230px;
  z-index: 9998;
  transition: height 2s ease, top 2s ease;
  /*   font-family: 'Helvetica'; */
}

.toast-toast {
  position: relative;
  padding: 8px 12px;
  margin: 16px;
  border-radius: 8px;
  background: $toast-color;
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.19);
  animation-duration: 0.3s;
  animation-name: toast;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: height 2s ease, top 2s ease;
}

.toast-fadeOut {
  animation-name: toastFadeOut;
  animation-duration: 0.9s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: forwards;
}

#toast-container {
  p,
  h4 {
    margin: 3px 0 !important;
  }
}

.toast-title {
  color: $toast-color;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}

.toast-text {
  font-size: 14px;
  color: $toast-color;
}

.toast-icon {
  position: absolute;
  top: 5px;
  left: -40px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #fff;
}

.toast-toast a {
  color: #549edb !important;
  text-decoration: none !important;
  &:hover {
    color: #549edb !important;
    text-decoration: none !important;
  }
}


/** toast types */

.toast-success {
  border: 1px solid #51c625;
  border-left: 10px solid #51c625;
  background-color: #D0FAD0;
}

.toast-warning {
  border: 1px solid #e7af15;
  border-left: 10px solid #e7af15;
  background-color: #F8E9D0;
}

.toast-error {
  border: 1px solid #db2b1d;
  border-left: 10px solid #db2b1d;
  background-color: #f3c7c4;
}

.toast-info {
  border: 1px solid #27abdb;
  border-left: 10px solid #27abdb;
  background-color: #c5eaf8;
}

.icon-success {
  color: #51c625;
}

.icon-warning {
  color: #db9215;
}

.icon-error {
  color: #db2b1d;
}

.icon-info {
  color: #27abdb;
}

.icon-success,
.icon-warning,
.icon-error,
.icon-info {
  padding-right: 10px;
}


@keyframes toast {
  from {
    transform: translate3d(400px, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes toastFadeOut {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: translate3d(400px, 0, 0);
    opacity: 0;
  }
}
