$color_1: white;
$color_2: #95c857;
$color_3: black;
$color_4: #fff;
$font_family_1: "Roboto";
$font_family_2: "Open Sans";
$background_color_1: #293037;
$background_color_2: #fff;

// Buttons
// Shared styles
$button-border: none !default;
$button-background-focus: lighten($color_2, 4%) !default;
$button-font-size: 14px !default;
$button-icon-font-size: 1.3rem !default;
$button-height: 36px !default;
$button-padding: 0 16px !default;
$button-radius: 2px !default;

// Disabled styles
$button-disabled-background: #dfdfdf !default;
$button-disabled-color: #9f9f9f !default;

// Flat buttons
$button-flat-color: #343434 !default;
$button-flat-disabled-color: lighten(#999, 10%) !default;

// Tables
$table-striped-color: rgba(240, 240, 240, 0.5) !default;

/* Custom Properties */
:root {
  --main-font: "Roboto";
  --alternate-font: "Open Sans";
  --font-size: 16px;
  --line-height: 1.6;

  --main-color: #95c857;
  --main-modal-color: #95c857;
  --second-color: #fff;
  --second-modal-color: #fff;

  --bg-color: #fff;
  --bg-modal-color: #fff;
  --bg-alternate-color: #293037;
  --border-color: #293037;

  --text-color: #fff;
  --title-color: var(--second-color);

  --link-color: var(--main-color);
  --link-hover-color: var(--second-color);

  --nav-height: 56px;
}
